.App {
  text-align: center;
  margin: 0 auto;
}

/* .App-header {
  background-color: #b8b5b4;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("../src/puutarha-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */

.App-link {
  color: #927f66;
}

.App {
  /* width: 87vh; */
}
