body {
  margin: 0;
  /* font-family: "Gupter", serif; */
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: "Gupter", serif; */
  font-family: "Quicksand", sans-serif;
}

/* html {
  width: 87vh;
} */
